<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.curtisgetz.marsexplorer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".utils.MarsExplorerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.explore.RoverExploreActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName=".ui.main.MainActivity"/>
        <activity android:name=".ui.explore_detail.ExploreDetailActivity" />
        <activity
            android:name=".ui.explore.MarsExploreActivity"
            android:parentActivityName=".ui.main.MainActivity" />

        <service
            android:name=".data.rover_manifest.RoverManifestJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <!-- ignore export error. FirebaseMessagingService performs security checks at runtime,
             no need for explicit permissions despite exported="true" -->
        <service
            android:name=".data.fcm.MarsFirebaseMessagingService"

            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".ui.widget.FactWidgetJobService" />



        <receiver android:name=".ui.widget.FactWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/fact_widget_info" />
        </receiver>

        <activity android:name=".ui.settings.SettingsActivity"
            android:theme="@style/MarsSettingsTheme"/>
    </application>

</manifest>